<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/main/navbar.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/common.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .star-rating{
            font-size: 450%;
            font-weight: lighter;
            vertical-align: top;
        }
        .content{
            font-size: 24px;
        }
        @media screen and (max-width: 700px ){
            .star-rating{
                font-size: 240%;
                font-weight: lighter;
                vertical-align: top;
            }

            .content{
                font-size: 17px
            }


        }

    </style>
</head>

<body style="margin: 1%;">
<div layout:fragment="content">
    <div class="row">
        <div class="col">
            <input type="hidden" id="id" th:value="${reviewDto.id}">
            <h5 style="text-align: center; margin-bottom: 20px; margin-top: 30px; font-weight: bold; color: chocolate;">리뷰 수정</h5>
            <form id="modifyForm" action="" method="post" enctype="multipart/form-data">
                <div class="mb-3" style="text-align: center;">
                    <div class="rate_wrap" style="margin-right: 0px">
                        <div class="rate_box">
                            <label for="rate_1" class="label_star" title="0.5"><span class="blind" >0.5점</span></label>
                            <label for="rate_2" class="label_star" title="1"><span class="blind" >1점</span></label>
                            <label for="rate_3" class="label_star" title="1.5"><span class="blind" >1.5점</span></label>
                            <label for="rate_4" class="label_star" title="2"><span class="blind" >2점</span></label>
                            <label for="rate_5" class="label_star" title="2.5"><span class="blind" >2.5점</span></label>
                            <label for="rate_6" class="label_star" title="3"><span class="blind" >3점</span></label>
                            <label for="rate_7" class="label_star" title="3.5"><span class="blind" >3.5점</span></label>
                            <label for="rate_8" class="label_star" title="4"><span class="blind" >4점</span></label>
                            <label for="rate_9" class="label_star" title="4.5"><span class="blind" >4.5점</span></label>
                            <label for="rate_10" class="label_star" title="5"><span class="blind" >5점</span></label>
                            <input type="radio"  id="rate_1" class="star_radio" name="rate" value="0.5" onclick='getRate(event)'>
                            <input type="radio"  id="rate_2" class="star_radio" name="rate" value="1.0" onclick='getRate(event)'>
                            <input type="radio"  id="rate_3" class="star_radio" name="rate" value="1.5" onclick='getRate(event)'>
                            <input type="radio"  id="rate_4" class="star_radio" name="rate" value="2.0" onclick='getRate(event)'>
                            <input type="radio"  id="rate_5" class="star_radio" name="rate" value="2.5" onclick='getRate(event)'>
                            <input type="radio"  id="rate_6" class="star_radio" name="rate" value="3.0" onclick='getRate(event)'>
                            <input type="radio"  id="rate_7" class="star_radio" name="rate" value="3.5" onclick='getRate(event)'>
                            <input type="radio"  id="rate_8" class="star_radio" name="rate" value="4.0" onclick='getRate(event)'>
                            <input type="radio"  id="rate_9" class="star_radio" name="rate" value="4.5" onclick='getRate(event)'>
                            <input type="radio"  id="rate_10" class="star_radio" name="rate" value="5.0" onclick='getRate(event)'>
                            <span class="rate_bg"></span>
                        </div>
                    </div>
                    <span id="star_rating" class="star-rating" style="width: 100%; color: darkgrey"></span>
                </div>

                <div class="mb-3" style="margin-top: 30px; margin-left: 10px; margin-right:10px;">
                    <textarea required="required" rows="14" class="content form-control" name="content" th:text="${reviewDto.content}" style="text-align: center;  padding : 20px;"></textarea>
                </div>





                <div class="mb-3" style="margin-bottom: 20px">
                    <label class="form-label">파일</label>
                    <input multiple="multiple" type="file" accept="image/*" class="form-control" name="files" id="image" onchange="setThumbnail(event);">
                    <input type="hidden" name="removeFiles" id="remove">
                </div>


                <!-- 이미지 미리보기 영역 -->
                <div id="image_old" style="margin: 20px;position: relative; overflow-x: auto; white-space: nowrap;" >
                    <div th:each="file, i:${reviewDto.fileName }" style="margin-bottom: 20px; display: inline; position: relative">
                        <img style="width:70px; height: 70px; margin: 10px" th:src="|${imgUrl}/${reviewDto.id}/${file}|" th:id="${file}"  alt="">
                        <button type="button" th:value="${file}" style="position: absolute; left: 10px" th:id="${i.index}" th:class="delete">
                            <i class="fa-solid fa-xmark"></i></button>

                    </div>
                </div>

                <div id="image_container" style="margin: 20px;position: relative; overflow-x: auto; white-space: nowrap;/* width: 80%; left: 7%;*/"></div>

                <input style="clear:both; background-color: #ff8900; border: none;" class="btn btn-primary" type="submit" value="등록">

                <div style="float: right;" onclick="location.href='/review/myList'">
                    <input style="clear:both; background-color: #f2f2f2; border: none; color: dimgray;" class="btn btn-primary" type="button" value="뒤로가기">
                </div>


            </form>



        </div>
    </div>


    <script>



        let arr = [];
        // 삭제확인 버튼 클릭하면
        for(let i=0; i<document.getElementsByClassName('delete').length; i++){
            document.getElementById(i).addEventListener("click", function() {
                let del = document.getElementById(i).value;


                arr.push(del);

                console.log(del);
                console.log(arr);
                console.log(document.getElementById(del));
                document.getElementById(del).remove();

                document.getElementById("remove").setAttribute("th:value", arr);


                const id = document.getElementById('id').value;


                const data = {
                    'removeFiles' : arr
                }

                fetch(`/review/modify?id=`+id,{
                    method : "post",
                    traditional : true,
                    headers : {
                        "Content-Type" : "application/json"
                    },
                    body : JSON.stringify(data)
                }).then(res => res.json())
                    .then(data => console.log(data));
            });
        }


        function getRate(event) {
            document.getElementById('star_rating').innerText =
                event.target.value;
        }


        // 이미지 미리보기

        function setThumbnail(event) {

            if(document.getElementById('image_old')){
                console.log(document.getElementById('image_old'))
                document.getElementById('image_old').remove();
            }


            while (document.getElementById('image_container').hasChildNodes()) {
                document.getElementById('image_container').removeChild(document.getElementById('image_container').firstChild);
            }

            for (let image of event.target.files) {

                let reader = new FileReader();

                reader.onload = function(event) {


                    let img = document.createElement("img");

                    let button = document.createElement("button");

                    img.setAttribute("src", event.target.result);


                    document.getElementById('image_container').appendChild(button);
                    document.querySelector("#image_container").appendChild(img);

                    let cnt=0;
                    for (let num=1; num<(document.getElementById('image').files.length)*2; num= num+2){

                        let size=0;
                        button.style.position = 'absolute';
                        button.setAttribute("th:value", image.name);
                        button.setAttribute("name", "removeFiles");
                        button.setAttribute("id", size);
                        button.setAttribute("th:class", "delete");
                        button.innerHTML ='<i class="fa-solid fa-xmark"></i>';

                        size++;

                        if(matchMedia("screen and (max-width: 700px)").matches){
                            let left =  10+(90*cnt);
                            cnt++;
                            //화면 크기가 700px이하일때
                            document.getElementById('image_container').children[num].setAttribute('width',70);
                            document.getElementById('image_container').children[num-1].style.left = left + 'px';
                            document.getElementById('image_container').children[num].setAttribute('height',70);
                            document.getElementById('image_container').children[num].style.margin = '10px';

                        }else{
                            let left =  10+(320*cnt);
                            cnt++;
                            document.getElementById('image_container').children[num].setAttribute('width',300);
                            document.getElementById('image_container').children[num-1].style.left = left + 'px';
                            document.getElementById('image_container').children[num].setAttribute('height',300);
                            document.getElementById('image_container').children[num].style.margin = '10px';

                        }
                    }

                };

                console.log(image);
                reader.readAsDataURL(image);
            }
        }










    </script>
</div>
</body>
</html>