<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<div layout:fragment="content">
    <div class="row">
        <div class="col">
            <h1>게시물 작성</h1>
            <form id="registerForm1" action="" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label">본문</label>
                    <textarea required="required" rows="5" class="form-control" name="content" th:text="${dto.content}"></textarea>
                </div>

                <!--              <div class="mb-3">
                                  <label class="form-label">파일</label>
                                  <input multiple="multiple" type="file" accept="image/*" class="form-control" name="files"></input>
                              </div>-->

                <input class="btn btn-primary" type="submit" value="등록">


            </form>
        </div>
    </div>
</div>


<script layout:fragment="script" th:inline="javascript">

    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

</script>
</body>
</html>
