<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.web.chewing.mapper.review.Mapper">


<select id="select" resultType="io.web.chewing.domain.ReviewDto">
    SELECT * FROM review;
</select>

</mapper>
