<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.web.chewing.mapper.review.ReviewMapper">


    <select id="select" resultType="io.web.chewing.domain.ReviewDto">
        SELECT * FROM review;
    </select>

    <select id="findReviewByStore" resultType="io.web.chewing.domain.ReviewDto">
        SELECT
        r.id,
        r.store_name,
        r.rate,
        r.member_nickname,
        r.content
        FROM review r LEFT JOIN store s ON r.store_name = s.name
        WHERE r.store_name = #{store};
    </select>

    <select id="countReviewByStore" resultType="int">
        SELECT COUNT(*)
        FROM review r LEFT JOIN store s ON r.store_name = s.name
        WHERE r.store_name = #{store};
    </select>

    <select id="findReviewByMember" resultType="io.web.chewing.domain.ReviewDto">
        SELECT
        r.id,
        r.store_name,
        r.rate,
        r.member_nickname,
        r.content
        FROM review r LEFT JOIN member m ON r.member_nickname = m.nickname
        WHERE r.member_nickname = #{member_nickname};
    </select>

    <select id="countReviewByMember" resultType="int">
        SELECT COUNT(*)
        FROM review r LEFT JOIN member m ON r.member_nickname = m.nickname
        WHERE r.member_nickname = #{member_nickname};
    </select>

    <update id="update">
        UPDATE review
        SET content = #{content}
        WHERE id = #{id}
    </update>

</mapper>
