<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div style="height: 100px; background-color: #FF8900;">
    nav-bar
</div>

<div id="information" style="height: 100px; text-align: center; padding-top: 30px; background-color: #ffffff;">
    <h2>공지사항</h2>
    <div style="float: left; margin: 20px;">
        <button class="btn btn-light" th:onclick="|location.href='@{/notice/get(id=${notice.id})}'|">
            <i class="fa-solid fa-angle-left"></i>
        </button>
    </div>
    <div style="float: right; margin: 20px;">
        <button class="btn btn-light" onclick="location.href='/notice/list'" style="color: #FF8900">
            <i class="fa-solid fa-square-xmark fa-lg"></i>
        </button>
    </div>
</div>

<div layout:fragment="content">

                        <div id="gongjiModify" style="margin-left: 35px; margin-right: 35px; height: 500px;">
                            <form th:action="@{'/notice/modify'}" method="post" id="f1">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" style="background-color: #f2f2f2;">번호</span>
                                    <input type="text" class="form-control" th:value="${notice.id}" name="id" readonly>
                                </div>
                                <div class="input-group mb-4">
                                    <span class="input-group-text" style="background-color: #f2f2f2;">제목</span>
                                    <input type="text" class="form-control" th:value="${notice.title}" name="title">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" style="background-color: #f2f2f2;">내용</span>
                                    <textarea class="form-control col-sm-5" rows="8" name="content">[[${notice.content}]]</textarea>
                                </div>
                                <div class="my-3">
                                    <div style="float: right; margin-right: 3px;">
                                        <button type="button" class="btn btn-light modBtn" style="border-radius: 12px; background-color: #f2f2f2;">수정</button>
                                        <button type="button" class="btn btn-light delBtn" style="border-radius: 12px; background-color: #f2f2f2;">삭제</button>
                                    </div>
                                </div>
                            </form>
                        </div>

</div>

<script layout:fragmennt="script" th:inline="javascript">
    const formObj = document.querySelector(("#f1"))

    document.querySelector(".modBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        formObj.action = '/notice/modify'
        formObj.method = 'post'
        formObj.submit()
    }, false)

    document.querySelector(".delBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        formObj.action = '/notice/delete'
        formObj.method = 'post'
        formObj.submit()
    }, false)

    document.querySelector(".listBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        formObj.reset()
        self.location = '/notice/modify'
    }, false)
</script>
</body>
</html>