<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="p-3 m-0 border-0 bd-example">
<!-- navbar -->
<nav class="navbar fixed-top shadow-sm p-3" style="background-color: #FF8900">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:onclick="|location.href='/main'|">
            <img src="/img/LOL.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top" style="border-radius: 100px;">
        </a>
        <div style="margin: auto; text-align: center;" th:onclick="|location.href='/main'|">
            <h5>chewing</h5>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" style="width: 54px; height: 44px; padding: unset; margin: unset;">
            <div style="margin: auto; width: 50px; height: 40px;">
                <span class="navbar-toggler-icon" style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px; margin-right: 10px;"></span>
            </div>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header" style="background-color: #FF8900">
                <h5 class="offcanvas-title"  id="offcanvasNavbarLabel" style="color: white;">chewing</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">마이페이지</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">예약페이지</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notice/list">공지사항</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">매장등록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">찜한매장</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>



<div layout:fragment="content">

</div>

</body>
</html>