<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModifyStore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--<link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">-->
</head>
<body>

<div>
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
</div>
<h1>매장 수정 페이지</h1>

<form class="modifyForm" th:action="@{/store/modify}" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <input class="form-control" type="hidden" name="id" th:value="${store.id}">
    </div>
    <div class="mb-3">
        <label class="form-label">매장명</label>
        <input class="form-control" type="text" name="name" th:value="${store.name}">
    </div>
    <div class="mb-3">
        <label class="form-label">상세내용</label>
        <input class="form-control" type="text" name="detail" th:value="${store.detail}">
    </div>
    <div class="mb-3">
        <label class="form-label">전화번호</label>
        <input class="form-control" type="text" name="phone" th:value="${store.phone}">
    </div>
    <div class="mb-3">
        <label class="form-label">주소</label>
        <input class="form-control" type="text" name="address" th:value="${store.address}">
    </div>
    <div class="mb-3">
        <label class="form-label">오픈시간</label>
        <input class="form-control" type="time" name="open_time" th:value="${store.open_time}">
    </div>
    <div class="mb-3">
        <label class="form-label">마감시간</label>
        <input class="form-control" type="time" name="close_time" th:value="${store.close_time}">
    </div>
    <div class="mb-3" th:if="${store.file != null && store.file != ''}">
        <input type="hidden" name="removeImage" th:value="${store.file}">
        <img id="img"
             th:src="@{{imgUrl}/{name}/{fileName}(imgUrl=${imgUrl},name=${store.name},fileName=${store.file})}"
             alt="첨부이미지" th:if="${store.file != '' || store.file != null}" />
    </div>
    <div class="mb-3">
        <label class="form-label">사진 파일</label>
        <input class="form-control" type="file" name="image" accept="image/*">
    </div>
    <input class="btn" type="submit" value="수정">
</form>

</body>
</html>