<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModifyStore</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
<!--  <h1>가게 정보 수정 페이지</h1>-->
  <header>
      <h1 class="profile_icon">
          <img src="/static/img/flog.jpg" alt="프로필사진">
      </h1>
      <a class="title">CHEWING</a>

      <button class="main_menu">
          <img src="/static/img/menu_icon.png" alt="메뉴">
      </button>
  </header>


</body>
</html>