<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>예약내역</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<table class="table">

    <thead>
    <tr>
        <!--        <th scope="col">id</th>-->
        <th scope="col">에약번호</th>
        <th scope="col">예약자명</th>
        <th scope="col">store</th>
        <th scope="col">인원수</th>
        <th scope="col">예약시간</th>


    </tr>
    </thead>

    <tbody>
    <tr th:each="list:${myBookingList}">
        <td>[[${list.id}]]</td>
        <td>[[${list.real_name}]]</td>
        <td>[[${list.store_name}]]</td>
        <td>[[${list.people}]]</td>
        <td>[[${list.date}]]-[[${list.time}]]</td>
    </tr>
    </tbody>

</table>
</body>
</html>
