<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .registerForm {
        width: 390px;
    }
    .btn {
        background-color: #FF8900;
    }
</style>
</head>
<body>
<div>
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
</div>

<h1>예약 등록 페이지</h1>

<form class="registerForm" action="" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">예약자명</label>
        <input class="form-control" type="text" name="real_name">
    </div>
    <div class="mb-3">
        <label class="form-label">인원수</label>
        <input class="form-control" type="number" name="people">
    </div>
    <div class="mb-3">
        <label class="form-label">예약일</label>
        <input class="form-control" type="date" name="date">
    </div>
    <div class="mb-3">
        <label class="form-label">시간</label>
        <input class="form-control" type="time" name="time">
    </div>
    <input class="btn" type="submit" value="등록">
</form>

</body>
</html>