<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<div class="content">
    <header>
        <h1 class="profile_icon">
            <img src="/image/LOL.png" alt="프로필사진">
        </h1>
        <a class="title">CHEWING</a>

        <button class="main_menu">
            <img src="/image/menu_icon.png" alt="메뉴">
        </button>
    </header>
    <section>
        <div class="logo_article">
            <img src="/image/LOL.png" alt="">
        </div>
        <ul class="login_list">
            <li>
                <button onclick="ClientClick(this.value)" value="google">구글</button>
            </li>
            <li>
                <button onclick="ClientClick(this.value)" value="naver">네이버</button>
            </li>
            <li>
                <button onclick="ClientClick(this.value)" value="kakao">카카오</button>
            </li>
        </ul>
    </section>
    <footer></footer>
</div>
<div class="pop">
    <div class="pop_content">
        <div class="btn_box">
            <p>이용약관</p>
            <ul class="checkbox_list">
                <li>
                    <label for="agree_all">
                        <input type="checkbox" name="agree_all" id="agree_all">
                        <span>모두 동의합니다</span>
                    </label>
                </li>
                <li>
                    <label for="agree">
                        <input type="checkbox" name="agree" value="1">
                        <span>서비스 이용 약관 {필수}</span>
                    </label>
                </li>
                <li>
                    <label for="agree">
                        <input type="checkbox" name="agree" value="2">
                        <span>약관 개인정보 수집 및 이용 동의</span>
                    </label>
                </li>
            </ul>
            <button onclick="colseClick()">동의 하고 계속</button>
        </div>
    </div>
</div>
</body>
<script>

    let CallClient;
    // 동의 모두선택 / 해제
    const agreeChkAll = document.querySelector('input[name=agree_all]');
    agreeChkAll.addEventListener('change', (e) => {
        let agreeChk = document.querySelectorAll('input[name=agree]');
        for (let i = 0; i < agreeChk.length; i++) {
            agreeChk[i].checked = e.target.checked;
        }
    });
    //버튼 클릭
    const pop = document.querySelector('.pop');
    const body = document.querySelector('body');

    function ClientClick(client) {
        CallClient = client;
        console.log(CallClient);
        body.classList.add('fixed');
        pop.classList.add('on');

    }

    //닫기 클릭
    function colseClick() {
        body.classList.remove('fixed');
        pop.classList.remove('on');
        window.location.href="/oauth2/authorization/" + CallClient;
    }
</script>
</html>